 .img-fluid {
  max-width: 100%;
  height: auto;
}
 body{
       background-color: #ebeff5;
    }
 #total-order{
        background-color: #4cb4c7;
    }
 #orders-delivered{
        background-color: #7abecc;
    }
 #orders-pending{
        background-color: #7CD1C0;
    }