{% extends 'accounts/main.html' %}
{% block title %} Customer {% endblock %}

{% block content %}
<br>
<div class="row">
 <div class="col-md-4">
   <div class="card">
   <div class="card-header">
     <h5>Customer</h5>
   </div>
   <div class="card-body">
        <div>
            <a href="" class="btn btn-outline-info btn-sm d-grid gap-2">Update Customer</a>
         </div>
        <div>
            <a href="{% url 'create_order' customers.id %}" class="btn btn-outline-info btn-sm d-grid gap-2">Place Order</a>
         </div>
   </div>
 </div>
  </div>

  <div class="col-md-4">
   <div class="card">
   <div class="card-header">
     <h5>Contact Information</h5>
   </div>
   <div class="card-body">
     <p>Email: {{customers.email}}</p>
     <p>Phone: {{customers.phone}}</p>
   </div>
 </div>
  </div>

  <div class="col-md-4">
   <div class="card">
   <div class="card-header">
     <h5>Total Orders</h5>
   </div>
   <div class="card-body">
     <h1 style="text-align: center; padding: 10px">{{total_orders}}</h1>
   </div>
 </div>
  </div>
 </div>

<br>
<div class="row">
 <div class="col-md-12">
  <div class="card card-body">
   <form action="" method="GET">

       {{myFilter.form}}

     <button class="btn btn-sm btn-primary " type="submit">Search</button>
    </form>
  </div>
 </div>
</div>

<br>
<div class="row">
 <div class="col-md">
  <div class="card card-body">
       <table class="table table-sm">
         <tr>
              <th>Product</th>
              <th>Category</th>
              <th>Date Orderd</th>
              <th>Status</th>
              <th>Update</th>
              <th>Remove</th>
         </tr>
           {% for order in orders %}
           <tr>
              <td>{{order.product}}</td>
              <td>{{order.product.category}}</td>
              <td>{{order.date_created}}</td>
              <td>{{order.status}}</td>
              <td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-info">Update</a></td>
               <td><a href="{% url 'remove_order' order.id %}" class="btn btn-sm btn-danger">Remove</a></td>
         </tr>
           {% endfor %}
       </table>
  </div>
 </div>
</div>
{% endblock %}