{% load static %}
<style>
  .logout-page{
    margin-right: 35px;
    margin-left:5px;
    font-size:20px;
  }
  .hello{
    color: #fff;
    margin-right:10px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="img-fluid rounded-circle mx-3" width="50" height="30" src="{% static 'images/logo.jpg' %}" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product' %}">Products</a>
        </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'account' %}" class="nav-link">Settings</a>
          </li>
        {% endif %}
      </ul>
    </div>
      <span class="hello fst-italic">Hello, {{request.user}}</span>
      <span class="logout-page btn btn-sm btn-outline-primary"><a href="{% url 'logout' %}" class="text-decoration-none text-white">Logout</a></span>
  </div>
</nav>
